.top {
    flex: 0;
    /* border-bottom: solid 1px var(--adm-color-border); */
    position: fixed;
    width: 100%;
    top: 0;
    background:  #f3f4f6;
    z-index: 9999;
  }
  
  /* .body {
    height: 100%;
  } */

.content{
  margin-top: 2.8rem;
}
.bottom {
  flex: 0;
  border-top: solid 1px var(--adm-color-border);
  position: fixed;
  width: 100%;
  bottom: 0;
  background:  #f3f4f6;
}
.body {
  height: 100%;
  
  background:  #f3f4f6;
}
.footer {
  padding-top: 11px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-end;
}